.message{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    gap: 20px;
    padding-left: 1em;
    border-radius: 0px 20px 20px 20px;
    background-color: #777777a6;
    margin: 10px;
}   
.message img{
  width: 2em;
  height: 2em;
  object-fit: cover;
}
.img{
      width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 90%;
}
.text{
    padding: 10px;
    background-color: white;
    overflow: hidden;
    border-radius: 0 20px 20px 0px;
}

/* ***************** */
.user{
display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    gap: 20px;
    border-radius: 20px 0px 20px 20px;
    background-color: #051787a6;
    margin: 10px;
    flex-direction: row-reverse;
    padding-right: 1em;
}
.user .message{
   padding: 10px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}
.wrapperUser {
      display: flex;
    justify-content: end;
}
.userText{
    padding: 10px;
    background-color: white;
    overflow: hidden;
        border-radius: 20px 0px 0px 20px;
}